<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HARDWAREMALL</title>
    <style>
        div{
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            font-size: 60px;
            color: rgb(75, 1, 1);
            font-weight: bold;
        }
    </style>
</head>
<body>
    <!-- <div>
        <h1>404 Error</h1>
        <p>page not found</p>
    </div> -->

    <form action="/vendors/register" method="POST" enctype="multipart/form-data">
        Email: <input name="email" type="text"><br>
        Password: <input name="password" type="password"><br>
        Title: <input name="title" type="text"><br>
        Contact: <input name="contact" type="text"><br>
        Location: <input name="location" type="text"><br>
        Website: <input name="website" type="text"><br>
        Description: <input name="description" type="text"><br>
        Whatsapp: <input name="whatsapp" type="text"><br>
        Photo: <input name="file" type="file"><br>
        <button>submit</button>
    </form>
</body>
</html>